body {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

label {
  color: white;
}

#trivia-logo {
  margin-top: -100px;
}

#login-form {
  margin-top: -180px;
}

#play-btn-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#config-btn {
  margin-top: 2%;
  margin-right: 2%;
}
